body {font-family: sans-serif}
.collapsible { display:none; }
.inbutton { background-color:blue; }
#SystemMessage { position: fixed; top: 5px; background-color: DarkSlateBlue; color: #ffffff; left: 5px; display:none; }
.dragandrophandler { border:2px dotted #0B85A1; color:#92AAB0;vertical-align:middle;padding:10px 10px 10 10px;margin-bottom:10px;font-size:200%;}
.unsaved-input { border: 2px solid pink; border-radius: 7px; }
fieldset {
  display:inline-block;
  margin-bottom:10px;
  margin-right:10px;
  vertical-align: top;
}
.ui-state-active {border: 1px solid #c5c5c5;background: #f6f6f6;color:black}
.gpiolabel {font-size:20px}
#outputMsg {float:left}
#outputInfo {float:right}
.content {
  display:none;
  border: 1px #aaa solid;
  border-top:0;
  overflow:auto;
  border-radius: 0 0 5px 5px;
  padding: 10px;
  box-sizing: border-box;
}
.content.open {
  display: block;
}
#MainMenu > h3 {
  border: 1px #aaa solid;
  margin-bottom: 0;
  border-radius: 5px;
  background: #e1e1e1;
  background: linear-gradient(to bottom, #e1e1e1 0%,#bfbfbf 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  padding: 5px 10px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
  cursor: pointer;
}
#MainMenu > h3.open {
  border-radius: 5px 5px 0 0;
}
#footer {
  margin-top:10px;
  font-family: monospace;
}
.octicon {margin-right:5px;  vertical-align: sub;}
a:hover>.octicon>path{fill:#0080ff}
